html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* FONTS  */

@font-face {
    font-family: 'Raleway';
    src: url('Fonts/Raleway-Medium.eot');
    src: url('Fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
        url('Fonts/Raleway-Medium.woff2') format('woff2'),
        url('Fonts/Raleway-Medium.woff') format('woff'),
        url('Fonts/Raleway-Medium.ttf') format('truetype'),
        url('Fonts/Raleway-Medium.svg#Raleway-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('Fonts/Raleway-MediumItalic.eot');
    src: url('Fonts/Raleway-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('Fonts/Raleway-MediumItalic.woff2') format('woff2'),
        url('Fonts/Raleway-MediumItalic.woff') format('woff'),
        url('Fonts/Raleway-MediumItalic.ttf') format('truetype'),
        url('Fonts/Raleway-MediumItalic.svg#Raleway-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('Fonts/Raleway-Light.eot');
    src: url('Fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
        url('Fonts/Raleway-Light.woff2') format('woff2'),
        url('Fonts/Raleway-Light.woff') format('woff'),
        url('Fonts/Raleway-Light.ttf') format('truetype'),
        url('Fonts/Raleway-Light.svg#Raleway-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('Fonts/Raleway-LightItalic.eot');
    src: url('Fonts/Raleway-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('Fonts/Raleway-LightItalic.woff2') format('woff2'),
        url('Fonts/Raleway-LightItalic.woff') format('woff'),
        url('Fonts/Raleway-LightItalic.ttf') format('truetype'),
        url('Fonts/Raleway-LightItalic.svg#Raleway-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('Fonts/Raleway-MediumItalic_1.eot');
    src: url('Fonts/Raleway-MediumItalic_1.eot?#iefix') format('embedded-opentype'),
        url('Fonts/Raleway-MediumItalic_1.woff2') format('woff2'),
        url('Fonts/Raleway-MediumItalic_1.woff') format('woff'),
        url('Fonts/Raleway-MediumItalic_1.ttf') format('truetype'),
        url('Fonts/Raleway-MediumItalic_1.svg#Raleway-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('Fonts/Raleway-Medium_1.eot');
    src: url('Fonts/Raleway-Medium_1.eot?#iefix') format('embedded-opentype'),
        url('Fonts/Raleway-Medium_1.woff2') format('woff2'),
        url('Fonts/Raleway-Medium_1.woff') format('woff'),
        url('Fonts/Raleway-Medium_1.ttf') format('truetype'),
        url('Fonts/Raleway-Medium_1.svg#Raleway-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('Fonts/Raleway-Light_1.eot');
    src: url('Fonts/Raleway-Light_1.eot?#iefix') format('embedded-opentype'),
        url('Fonts/Raleway-Light_1.woff2') format('woff2'),
        url('Fonts/Raleway-Light_1.woff') format('woff'),
        url('Fonts/Raleway-Light_1.ttf') format('truetype'),
        url('Fonts/Raleway-Light_1.svg#Raleway-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('Fonts/Raleway-LightItalic_1.eot');
    src: url('Fonts/Raleway-LightItalic_1.eot?#iefix') format('embedded-opentype'),
        url('Fonts/Raleway-LightItalic_1.woff2') format('woff2'),
        url('Fonts/Raleway-LightItalic_1.woff') format('woff'),
        url('Fonts/Raleway-LightItalic_1.ttf') format('truetype'),
        url('Fonts/Raleway-LightItalic_1.svg#Raleway-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('Fonts/PlayfairDisplay-BoldItalic.eot');
    src: url('Fonts/PlayfairDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Fonts/PlayfairDisplay-BoldItalic.woff2') format('woff2'),
        url('Fonts/PlayfairDisplay-BoldItalic.woff') format('woff'),
        url('Fonts/PlayfairDisplay-BoldItalic.ttf') format('truetype'),
        url('Fonts/PlayfairDisplay-BoldItalic.svg#PlayfairDisplay-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('Fonts/PlayfairDisplay-Bold.eot');
    src: url('Fonts/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('Fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
        url('Fonts/PlayfairDisplay-Bold.woff') format('woff'),
        url('Fonts/PlayfairDisplay-Bold.ttf') format('truetype'),
        url('Fonts/PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('Fonts/PlayfairDisplay-Regular.eot');
    src: url('Fonts/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('Fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
        url('Fonts/PlayfairDisplay-Regular.woff') format('woff'),
        url('Fonts/PlayfairDisplay-Regular.ttf') format('truetype'),
        url('Fonts/PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('Fonts/PlayfairDisplay-Regular_1.eot');
    src: url('Fonts/PlayfairDisplay-Regular_1.eot?#iefix') format('embedded-opentype'),
        url('Fonts/PlayfairDisplay-Regular_1.woff2') format('woff2'),
        url('Fonts/PlayfairDisplay-Regular_1.woff') format('woff'),
        url('Fonts/PlayfairDisplay-Regular_1.ttf') format('truetype'),
        url('Fonts/PlayfairDisplay-Regular_1.svg#PlayfairDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display regular-italic';
    src: url('Fonts/PlayfairDisplay-Italic.eot');
    src: url('Fonts/PlayfairDisplay-Italic.eot?#iefix') format('embedded-opentype'),
        url('Fonts/PlayfairDisplay-Italic.woff2') format('woff2'),
        url('Fonts/PlayfairDisplay-Italic.woff') format('woff'),
        url('Fonts/PlayfairDisplay-Italic.ttf') format('truetype'),
        url('Fonts/PlayfairDisplay-Italic.svg#PlayfairDisplay-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Playfair Display italic';
    src: url('Fonts/PlayfairDisplay-Italic_1.eot');
    src: url('Fonts/PlayfairDisplay-Italic_1.eot?#iefix') format('embedded-opentype'),
        url('Fonts/PlayfairDisplay-Italic_1.woff2') format('woff2'),
        url('Fonts/PlayfairDisplay-Italic_1.woff') format('woff'),
        url('Fonts/PlayfairDisplay-Italic_1.ttf') format('truetype'),
        url('Fonts/PlayfairDisplay-Italic_1.svg#PlayfairDisplay-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('Fonts/PlayfairDisplay-BoldItalic_1.eot');
    src: url('Fonts/PlayfairDisplay-BoldItalic_1.eot?#iefix') format('embedded-opentype'),
        url('Fonts/PlayfairDisplay-BoldItalic_1.woff2') format('woff2'),
        url('Fonts/PlayfairDisplay-BoldItalic_1.woff') format('woff'),
        url('Fonts/PlayfairDisplay-BoldItalic_1.ttf') format('truetype'),
        url('Fonts/PlayfairDisplay-BoldItalic_1.svg#PlayfairDisplay-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Playfair Display-bold';
    src: url('Fonts/PlayfairDisplay-Bold_1.eot');
    src: url('Fonts/PlayfairDisplay-Bold_1.eot?#iefix') format('embedded-opentype'),
        url('Fonts/PlayfairDisplay-Bold_1.woff2') format('woff2'),
        url('Fonts/PlayfairDisplay-Bold_1.woff') format('woff'),
        url('Fonts/PlayfairDisplay-Bold_1.ttf') format('truetype'),
        url('Fonts/PlayfairDisplay-Bold_1.svg#PlayfairDisplay-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

 /* CSS CODE  */

 html {
     scroll-behavior: smooth;
     
 }

 nav {

     display: flex;
     justify-content: space-between;
     flex-wrap: nowrap;
     background-color: white;
     border-bottom: 1px solid #d7d7d7;
     
    }
    
    
    nav .nav-container {
        width: 100%;

 }

nav .Aloha-nav-logo {

     width: 130px;
     margin: 20px;
 }

nav .Cart-nav-logo {

    width: 50px;
    margin: 20px;

}


.nav-list ul li {

    color: #e2574c;
    font-size: 13px;
    font-weight: 300;
    font-family: 'raleway-bold', sans-serif;
    display: inline-block;
    /* margin: 0 auto; */
    padding: 15px  0  15px  40px ;

}

.nav-list a {
    text-decoration: none;
}

/* RESPONSIVE NAV */

@media screen and (min-width: 600px){

    .nav-list  ul li{
        padding: 15px 0 15px 75px;
    }

}

@media screen and (min-width: 1240px) {
    nav {
        border-bottom: none;
    }

    .nav-list ul li {
    position: relative;
    left: 24%;
    font-size: 20px;
    bottom: 90px;
    padding-top: 43px;
    }
  
}



.index-banner {
    /* width: 100%; */
    background-image: url("Images/flower-bkgd.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;

}

.index-banner img {
    position: absolute;
    width: 100px;
    top: 33.5%;
    left: 36%;
    
}



.banner-text-1 {
    
    font-family: 'Raleway', serif; 
    font-size: 16px;
    font-weight: 500;
    color:white;
    text-align: center;
    transform: translateY(700%);
    text-shadow: 0 0 6px rgba(0,0,0,0.8);
    
}

.banner-text-2 {
    
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    font-weight: 500;
    color: white;
    text-align: center;
    transform: translateY(210%);
    text-shadow: 0 0 6px rgba(0,0,0,0.8)
    
}

/* RESPONSIVE HERO BANNER */

@media screen and (min-width: 600px){

    .index-banner img {
        left: 41%;
        top: 33.5%;
        /* text-align: initial; */

    }

}

@media screen and (min-width: 1240px) {

    .index-banner img {
        top: 18.6%;
        width: 234px;
        left: 41%;
    }

    .index-banner {
        height: 580px;
    }

    .banner-text-1{
        transform: translateY(427%);
        font-size: 34px;
    }

    .banner-text-2 {
        font-size: 60px;
         transform: translateY(140%);

    }
}


.after-banner-container {
    background-color: white;
    height: 225px;
}

.hand-crafted-text {
    font-family: "playfair display italic";
    position: absolute;
    font-size: 30px;
    top: 85%;
    left: 20%;

}

.first-letter-font {
    font-family: "playfair display regular-italic";

}
.styles-bold-font {

    font-family:"playfair display-bold";
}



.hand-crafted-text-2 {
    font-family: "Raleway", "arial", sans-serif;
    position: absolute;
    top:95%;
    left: 9%;
    font-size: 16px;
    font-weight: 500;
    color: grey;
    line-height: 30px; 
    
} 

@media screen and (min-width: 600px){

    .hand-crafted-text {
        left: 29%;

    }
    .hand-crafted-text-2 {
        left: 22%;
    }

}

@media screen and (min-width: 1240px) {

    .hand-crafted-text {
    font-size: 40px;
    top: 85%;
    left: 38%;
    }

    .hand-crafted-text-2 {
        font-size: 24px;
        left: 30%;
        top: 92%;
        /* max-width: 900px; */
    }

}


.clothing-categories-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: black;
    box-sizing: border-box;
    text-align: center;
    color: white;
  }

  .item {
    color: white;
    background-size: cover;
    font-family: 'raleway', sans-serif;
    font-size: 18px;
    height: 100px;
    text-transform: uppercase;
    width: 100px;
    
}

.item.wide {
    flex: 2 0 100%;
    width: 100%;
    height: 200px;
    
}

.item {
    flex: 2 0 50%;
    width: 50%;
    height: 200px;
    border-bottom: 8px solid white;
    /* border-right: 8px solid white ; */

    
  }
  
  .clothing-categories-links p {
      transform: translateY(500%);
    }
    
    .item.men {
        position: relative;
        background-image: url("images/mens-category.jpg");
        background-repeat: no-repeat;
        border-bottom: 8px solid white;
}

.item.trends {
    position: relative;
    background-image: url("images/trends-category.jpg");
    /* border-right: 3px solid white; */
    /* border-bottom: 3px solid white; */
}
.item.glasses {
    position: relative;
    background-image: url("images/glasses-category.jpg");
    
}
.item.sale {
    position: relative;
    background-image: url("images/sale-category.jpg");
    
}

.item.bags{
    position: relative;
    background-image: url("images/bags-category.jpg");
    
    
}

.item.women{
    position: relative;
    background-image: url("images/womens-category.jpg");
    /* border-top: 8px solid white; */

}


@media screen and (min-width: 600px) {

    .clothing-categories-links{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: white;
        box-sizing: border-box;
        text-align: center;
        height: 500px;
    
    }
    
    .clothing-categories-links p {
        transform: translateY(400%);
    }
    
    
      .item {
        color: white;
        background-size: cover ;
        font-family: "raleway", sans-serif;
        font-size: 35px;
        height: 300px;
        flex: 1 0 25%;
        text-transform: uppercase;
       box-sizing: border-box;
       border: 3px solid white;
        
      }
    
      .item.wide {
        flex: 2 0 50%;
        width: 50%;
    
      }


}

@media screen and (min-width: 1240px) {

    .item.wide {
        height: 300px;
    }

}


.carousel-title {
    font-size: 28px;
    text-align: center;
    font-family: "playfair display italic", Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-bottom: 10px;    
}

.carousel-title span {
    font-family:"playfair display-bold";

}


.carousel-conatiner {
    height: 500px;
    background-color:white;
    border-bottom: 5px solid white;
}

.carousel-cell{
    height: 450px;
   
}

.carousel-cell span {
    font-family: 'raleway', Arial, Helvetica, sans-serif;
    color: grey;
    font-size: 12px;
}

.carousel-cell p {
    font-family: "playfair display", Arial, Helvetica, sans-serif;    
    text-align: center;
    line-height: 25px;
    color:  #e2574c;
}

.carousel-cell .prices {
    font-family: 'raleway', Arial, Helvetica, sans-serif;
    color: grey;
    font-size: 12px;
    font-weight: 500;
}


.flickity-page-dots {
    position: absolute;
    width: 100%;
    bottom: 10px;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    line-height: 1;
}

.flickity-button {
    display: none;
}


.sign-up-conatiner {
    height: 300px;
    background-image: url("Images/wave-bkgd.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-bottom: 10px solid white;

}

.sign-up-data  h1{
    position: absolute;
    font-family: "playfair display italic";
    color: white;
    font-size: 35px;
    top: 362%;
    left: 14%;
    text-shadow: 0 0 6px rgba(0,0,0,0.8)

}

.sign-up-data  h2{
    position: absolute;
    line-height: 32px;
    font-family: "raleway";
    color: white;
    font-size: 16px;
    top: 373%;
    left: 6%;
    text-shadow: 0 0 6px rgba(0,0,0,0.8)

}

.sign-up-data  span{
    font-family: "playfair display";
    font-weight: 600;
}

 .input-subscribe-button {
    /* width: 100%; */
    /* position: relative; */
    border: none;
    border-radius: 50px;
    padding: 11px 22px 8px 22px;
    left: 65.5%;
    bottom: 37px;
    background-color: #e2574c;
    font-weight: 300;
    color: white;
}


.email-input {
    position: absolute;
    left:  7%;
    top : 394%;
}

.email-text-input {
    /* width: 100%; */
    position: relative;
    border: none;
    border-radius: 50px;
    padding: 13px 183px 11px 21px;
    background-color:white;
    font-weight: 300;

}

@media screen and (min-width: 600px) {

    .sign-up-data h1 {
        top: 303%;
        left: 24%;
    }

    .sign-up-data h2 {
        top: 314%;
        left: 19%;
    }

    .email-input {
        top: 340%;
        left: 12%;
    }

}

@media screen and (min-width:1240px) {
    .sign-up-data h1 {
        top: 217%;
        left: 39%;
    }
    .sign-up-data h2 {
        top: 225%;
        left: 36%;
    }

    .email-input {
        top: 238%;
        left: 33%;
    }


}



.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    background-color: #242424;
    padding-left: 6px;
}

.social-icons a {
    color: white;
}

.social-icons {
    position: absolute;
    word-spacing: 15px;
    top: 457%;
    left: 33%;
}

.footer-contact-info {
    font-family: "playfair display", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    text-align: center;
    color: white;
}

.footer-contact-info h4 {

    line-height: 50px;
    color: white;
}

.footer-contact-info a {
    color: white;
}

.footer-contact-info p {
    line-height: 24px;
    color:grey;
}

@media screen and (min-width: 600px) {
    .social-icons {
        top: 397%;
        left: 38%;

    }
}

@media screen and (min-width:1240px) {
    .social-icons {
        top: 273%;
        left: 44%;

    }
}
